/* p,td { font-size:12px;color:#000000; } */
.bot { font-size:10px;color:#000000; }
.bg1 { background-color:#A9BAF1 }.bg2 { background-color:#D5E0F8 }
.bg3 { background-color:#68A0C8 }
.bg4 { background-color:#7CB2DE }

#maintable {
	border-left:33px solid #865f34;
	border-right:33px solid #865f34;    
	border-bottom:33px solid #865f34;    
}
